In [ ]:
import pandas as pd
df=pd.read_csv('2) Stock Prices Data Set.csv')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497472 entries, 0 to 497471
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   symbol  497472 non-null  object
 1   date    497472 non-null  object
 2   open    497461 non-null  float64
 3   high    497464 non-null  float64
 4   low     497464 non-null  float64
 5   close   497472 non-null  float64
 6   volume  497472 non-null  int64
dtypes: float64(4), int64(1), object(2)
memory usage: 26.6+ MB

In [ ]:
df.head()

  symbol        date      open      high       low     close    volume
0    AAL  2014-01-02   25.0700   25.8200   25.0600   25.3600   8998943
1   AAPL  2014-01-02   79.3828   79.5756   78.8601   79.0185  58791957
2    AAP  2014-01-02  110.3600  111.8800  109.2900  109.7400    542711
3   ABBV  2014-01-02   52.1200   52.3300   51.5200   51.9800   4569061
4    ABC  2014-01-02   70.1100   70.2300   69.4800   69.8900   1148391

**Handling missing values**

In [ ]:
df.isnull()

        symbol   date   open   high    low  close  volume
0        False  False  False  False  False  False   False
1        False  False  False  False  False  False   False
2        False  False  False  False  False  False   False
3        False  False  False  False  False  False   False
4        False  False  False  False  False  False   False
...        ...    ...    ...    ...    ...    ...     ...
497467   False  False  False  False  False  False   False
497468   False  False  False  False  False  False   False
497469   False  False  False  False  False  False   False
497470   False  False  False  False  False  False   False
497471   False  False  False  False  False  False   False

[497472 rows x 7 columns]

In [ ]:
df.isnull().sum()

symbol     0
date       0
open      11
high       8
low        8
close      0
volume     0
dtype: int64

In [ ]:
df.isnull().any()

symbol    False
date      False
open       True
high       True
low        True
close     False
volume    False
dtype: bool

In [ ]:
missing_cols=['open','high','low']
for col in missing_cols:
    df[col]=df[col].fillna(df[col].mean())

In [ ]:
df.isnull().any()

symbol    False
date      False
open      False
high      False
low       False
close     False
volume    False
dtype: bool

**Handling duplicate value**

In [ ]:
df.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
497467    False
497468    False
497469    False
497470    False
497471    False
Length: 497472, dtype: bool

In [ ]:
df.duplicated().sum()

np.int64(0)

**changing date column to date/time**

In [ ]:
df['date']

0         2014-01-02
1         2014-01-02
2         2014-01-02
3         2014-01-02
4         2014-01-02
             ...
497467    2017-12-29
497468    2017-12-29
497469    2017-12-29
497470    2017-12-29
497471    2017-12-29
Name: date, Length: 497472, dtype: object

In [ ]:
df['date']=pd.to_datetime(df['date'])

**convert float to int type
**

In [ ]:
float_col =['open','high','low','close','volume']
for col in float_col:
  df[col]=df[col].round().astype(int)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497472 entries, 0 to 497471
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   symbol  497472 non-null  object
 1   date    497472 non-null  datetime64[ns]
 2   open    497472 non-null  int64
 3   high    497472 non-null  int64
 4   low     497472 non-null  int64
 5   close   497472 non-null  int64
 6   volume  497472 non-null  int64
dtypes: datetime64[ns](1), int64(5), object(1)
memory usage: 26.6+ MB

In [ ]:
df.head()

  symbol       date  open  high  low  close    volume
0    AAL 2014-01-02    25    26   25     25   8998943
1   AAPL 2014-01-02    79    80   79     79  58791957
2    AAP 2014-01-02   110   112  109    110    542711
3   ABBV 2014-01-02    52    52   52     52   4569061
4    ABC 2014-01-02    70    70   69     70   1148391

In [ ]:
df.to_csv('cleanedstockprice.csv')